@model List<Payment>

<!-- Listeleme -->
@foreach (var payment in Model)
{
    <div>
        <h3>@payment.Name</h3>
        <button type="button" class="btn btn-primary" onclick="openEditModal(@payment.Id)">Edit</button>
        <button type="button" class="btn btn-danger" onclick="deleteProduct(@payment.Id)">Delete</button>
    </div>
}

<!-- Ekleme -->
<button type="button" class="btn btn-success" onclick="openAddModal()">Add Payment</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Modal Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form alanları buraya gelecek -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveChangesBtn">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    // Modalı açma fonksiyonları
    function openEditModal(id) {
        // AJAX ile veri al ve modalı doldur
        $.get('/Home/GetProduct/' + id, function (data) {
            $('.modal-body').html(data);
            $('#myModal').modal('show');
        });
    }

    function openAddModal() {
        // AJAX ile boş form al ve modalı doldur
        $.get('/Home/GetEmptyForm', function (data) {
            $('.modal-body').html(data);
            $('#myModal').modal('show');
        });
    }

    // Silme işlemi
    function deleteProduct(id) {
        // AJAX ile silme işlemi yap
        $.post('/Home/DeleteProduct/' + id, function () {
            // Sayfayı yeniden yükle
            location.reload();
        });
    }

    // Ekleme veya güncelleme formunu submit etme
    $('#saveChangesBtn').click(function () {
        // AJAX ile formu submit et
        $.post('/Home/SaveProduct', $('form').serialize(), function () {
            // Sayfayı yeniden yükle
            location.reload();
        });
    });
</script>
