@model List<Product>
<main>
    <div class="mb-4 pb-4"></div>
    <section class="my-account container">
        <h2 class="page-title">Wishlist</h2>
        <div class="row">
            <div class="col-lg-9">
                <div class="page-content my-account__wishlist">
                    <div class="products-grid row row-cols-2 row-cols-lg-3" id="products-grid">
                        @foreach (var item in Model)
                        {
                            <div class="product-card-wrapper">
                                <div class="product-card mb-3 mb-md-4 mb-xxl-5">
                                    <div class="pc__img-wrapper">
                                        <div class="swiper-container background-img js-swiper-slider" data-settings='{"resizeObserver": true}'>
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <img loading="lazy" src="~/images/products/@item.Images[0].ImageUrl" width="330" height="400" alt="Cropped Faux leather Jacket" class="pc__img">
                                                </div><!-- /.pc__img-wrapper -->
                                            </div>
                                            <span class="pc__img-prev"><svg width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_prev_sm" /></svg></span>
                                            <span class="pc__img-next"><svg width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_next_sm" /></svg></span>
                                        </div>
                                        <button class="btn-remove-from-wishlist" onclick="Add(@item.Id)">
                                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_close" /></svg>
                                        </button>
                                    </div>

                                    <div class="pc__info position-relative">
                                        <h6 class="pc__title">@item.Name</h6>
                                        <div class="product-card__price d-flex">
                                            <span class="money price">$@item.Price</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div><!-- /.products-grid row -->
                </div>
            </div>
        </div>
    </section>
</main>
@section Scripts{
    <script>
       
    </script>
}