@model CartViewModel
@foreach (var item in Model.CartItems)
{
    <div class="cart-drawer-item d-flex position-relative" id="cartCon">
        <div class="position-relative">
            <img loading="lazy" class="cart-drawer-item__img" src="~/site/images/cart-item-1.jpg" />
        </div>
        <div class="cart-drawer-item__info flex-grow-1">
            <h6 class="cart-drawer-item__title fw-normal">$@item.ProductName</h6>
            <p class="cart-drawer-item__option text-secondary">Color: Yellow</p>
            <p class="cart-drawer-item__option text-secondary">Size: L</p>
            <div class="d-flex align-items-center justify-content-between mt-1">
                <div class="qty-control position-relative">
                    <input type="number" name="quantity" value="@item.Quantity" min="1" class="qty-control__number border-0 text-center">
                    <div class="qty-control__reduce text-start" data-product-id="@item.ProductId">-</div>
                    <div class="qty-control__increase text-end" data-product-id="@item.ProductId">+</div>
                </div><!-- .qty-control -->
                <span class="cart-drawer-item__price money price">$@item.Total</span>
            </div>
        </div>

        <button class="btn-close-xs position-absolute top-0 end-0 js-cart-item-remove"></button>
    </div>

    <!-- /.cart-drawer-item d-flex -->

    <hr class="cart-drawer-divider" />
}